body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#titulo {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    background-color: #aaa96b;
    color: white;
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}