body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #98fdd3;
}

.container {
    text-align: center;
    background: rgb(110, 245, 200);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #00d39e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #00b3a4;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}
