
body {
    font-family: 'Arial', sans-serif;
    background-color: #e88aba;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#titulo {
    color: #333;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}


label {
    font-size: 1.2em;
    color: #3c1c35;
    margin-bottom: 10px;
    display: block;
}


#miCuadroTxt {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#miCuadroTxt:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


body > * {
    margin: 10px 0;
}
